{% extends "common.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="blogs" id="blogs">
        <h1 class="heading">Our <span>Blogs</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="static/blog1.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="" class="fa fa-user"> By User</a>
                        <a href="" class="fa fa-calendar"> 10 may 2023</a>
                    </div>
                    <h3>Fresh and Organic vegitables and fruits</h3>
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <a href="#" class="btn">Read more</a>
                </div>
            </div>

            <div class="box">
                <img src="static/blog3.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="" class="fa fa-user"> By User</a>
                        <a href="" class="fa fa-calendar"> 10 may 2023</a>

                    </div>
                    <h3>Fresh and Organic vegitables and fruits</h3>
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <a href="#" class="btn">Read more</a>
                </div>
            </div>

            <div class="box">
                <img src="static/blog2.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="" class="fa fa-user"> By User</a>
                        <a href="" class="fa fa-calendar"> 10 may 2023</a>

                    </div>
                    <h3>Fresh and Organic vegitables and fruits</h3>
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr.. Ashok</p>
                        <a href="#" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </section>
<section><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d303504.39123403723!2d78.20419485060178!3d17.48519366459322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bcb90c518f1af29%3A0x74fdc831016658c5!2sPlot.no%20235%2C%20near%20Dr.Agarwals%20Eye%20Hospital%2C%20Punjagutta%20Officers%20Colony%2C%20Punjagutta%2C%20Hyderabad%2C%20Telangana%20500016!3m2!1d17.430714599999998!2d78.45157449999999!5e0!3m2!1sen!2sin!4v1704771699307!5m2!1sen!2sin" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></section>

<iframe width="400" height="200" src="https://www.youtube.com/embed/RTkrpxZB5Cs?si=8EEjdxPzREcmztwp"></iframe>
<iframe width="400" height="200" src="https://www.youtube.com/embed/gqOetXxZGpc?si=VnHx0yMRlb-rUXa8"></iframe>
<iframe width="400" height="200" src="https://www.youtube.com/embed/PqoBrvV13js?si=nEbTeAUXju6DntfC"></iframe>


</body>
</html>
{% endblock %}