{% extends "common.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       <!-- categories section -->
    <section class="categories" id="categoris">
        <h1 class="heading">Product <span>Categories</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="static/groceries.jpeg" alt="">
                <h3>Groceries</h3>
                <p>upto 45% off</p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="box">
                <img src="static/fruits.jpeg" alt="">
                <h3>Fruits</h3>
                <p>upto 75% off</p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="box">
                <img src="static/vegetables.jpeg" alt="">
                <h3>vegetables</h3>
                <p>upto 65% off</p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="box">
                <img src="static/meat.jpeg" alt="">
                <h3>Raw Meat</h3>
                <p>upto 35% off</p>
                <a href="#" class="btn">shop now</a>
            </div>
        </div>
    </section>
    <!-- categories section -->

</body>
</html>
{% endblock %}