{% extends "common.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- features section -->
    <section class="features">
        <h1 class="heading">Our <span>features</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="static/organic.jpeg" alt="">
                <h3>Freas And Organic</h3>

                <p>The one and only first online store to
                    provide 100% organic items.</p>

                <a href="#" class="btn">Read more</a>
            </div>
            <div class="box">
                <img src="static/delivery.jpeg" alt="">
                <h3>Fast and Free delivery</h3>

                <p>The one and only online store to
                    deliver orders in one-day for free.</p>

                <a href="#" class="btn">Read more</a>
            </div>
            <div class="box">
                <img src="static/payment.jpeg" alt="">
                <h3>Easy Payments</h3>

                <p>The one and only store to
                    face less payment failures.</p>

                <a href="#" class="btn">Read more</a>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}