{% extends "common.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- banner section -->
  <section class="home" id="home">
    <div class="content">
        <h3>Fresh And <span>Organic</span> Products For You</h3>
        <p>Get Organic products at your door step.
            Order here and get instance discounts on
            selected products.
        </p>
        <a href="#" class="btn">Shop now</a>
    </div>
  </section>
    <!-- banner section -->

 <!-- features section -->
    <section class="features">
        <h1 class="heading">Our <span>features</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="static/organic.jpeg" alt="">
                <h3>Freas And Organic</h3>

                <p>The one and only first online store to
                    provide 100% organic items.</p>

                <a href="#" class="btn">Read more</a>
            </div>
            <div class="box">
                <img src="static/delivery.jpeg" alt="">
                <h3>Fast and Free delivery</h3>

                <p>The one and only online store to
                    deliver orders in one-day for free.</p>

                <a href="#" class="btn">Read more</a>
            </div>
            <div class="box">
                <img src="static/payment.jpeg" alt="">
                <h3>Easy Payments</h3>

                <p>The one and only store to
                    face less payment failures.</p>

                <a href="#" class="btn">Read more</a>
            </div>
        </div>
    </section>
     <!-- products section -->


    <!-- products section -->


    <!-- categories section -->
    <section class="categories" id="categoris">
        <h1 class="heading">Product <span>Categories</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="static/groceries.jpeg" alt="">
                <h3>Groceries</h3>
                <p>upto 45% off</p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="box">
                <img src="static/fruits.jpeg" alt="">
                <h3>Fruits</h3>
                <p>upto 75% off</p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="box">
                <img src="static/vegetables.jpeg" alt="">
                <h3>vegetables</h3>
                <p>upto 65% off</p>
                <a href="#" class="btn">shop now</a>
            </div>

            <div class="box">
                <img src="static/meat.jpeg" alt="">
                <h3>Raw Meat</h3>
                <p>upto 35% off</p>
                <a href="#" class="btn">shop now</a>
            </div>
        </div>
    </section>
    <!-- categories section -->

    <!-- reviews section -->
    <section class="review" id="review">
        <h1 class="heading">Customer's <span>Review</span></h1>
        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="static/c1.jpeg" alt="">
                    <p>We are busy people having no time to shop.
                        Grocery Raja solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <h3>Prabhas Raju</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                </div>


                <div class="swiper-slide box">
                    <img src="static/c2.jpeg" alt="">
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <h3>Surya</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                </div>


                <div class="swiper-slide box">
                    <img src="static/c3.jpeg" alt="">
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <h3>Kaarhi</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                </div>


                <div class="swiper-slide box">
                    <img src="static/c4.jpeg" alt="">
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <h3>Nithin</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                </div>


                <div class="swiper-slide box">
                    <img src="static/c5.jpeg" alt="">
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <h3>Rana Dhaggubati</h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- reviews section -->

    <!-- blog section -->
    <section class="blogs" id="blogs">
        <h1 class="heading">Our <span>Blogs</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="static/blog1.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="" class="fa fa-user"> By User</a>
                        <a href="" class="fa fa-calendar"> 10 may 2023</a>
                    </div>
                    <h3>Fresh and Organic vegitables and fruits</h3>
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <a href="#" class="btn">Read more</a>
                </div>
            </div>

            <div class="box">
                <img src="static/blog3.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="" class="fa fa-user"> By User</a>
                        <a href="" class="fa fa-calendar"> 10 may 2023</a>

                    </div>
                    <h3>Fresh and Organic vegitables and fruits</h3>
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr. Ashok</p>
                        <a href="#" class="btn">Read more</a>
                </div>
            </div>

            <div class="box">
                <img src="static/blog2.jpeg" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="" class="fa fa-user"> By User</a>
                        <a href="" class="fa fa-calendar"> 10 may 2023</a>

                    </div>
                    <h3>Fresh and Organic vegitables and fruits</h3>
                    <p>We are busy people having no time to shop.
                        Grocery Mart solves our problem by delivering products at door step WHENEVER we want.
                        Thank you Grocery-mart - Mr.. Ashok</p>
                        <a href="#" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- blog section -->
    <section><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d303504.39123403723!2d78.20419485060178!3d17.48519366459322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bcb90c518f1af29%3A0x74fdc831016658c5!2sPlot.no%20235%2C%20near%20Dr.Agarwals%20Eye%20Hospital%2C%20Punjagutta%20Officers%20Colony%2C%20Punjagutta%2C%20Hyderabad%2C%20Telangana%20500016!3m2!1d17.430714599999998!2d78.45157449999999!5e0!3m2!1sen!2sin!4v1704771699307!5m2!1sen!2sin" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></section>











    <h1 class="heading">Regular <span>Questions</span></h1>








<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        What are the minimun and maximum Range of discounts?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        What is the maximum delivery time?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Is return polocy Available?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>






    <!-- footer section -->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Groco <i class="fa fa-shopping-basket"></i></h3>
                <p id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">Feel Free to follow us on our social media handlers, all
                    the links are given below.</p>
                    <div class="share">
                        <a href="https://www.facebook.com/login/" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/i/flow/login" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/login" class="fa fa-linkedin"></a>
                    </div>
            </div>

            <div class="box">
                <h3>Content Info </h3>
                <a href="" class="links"><i class="fa fa-phone"></i> +91 980-763-4217</a>
                <a href="" class="links"><i class="fa fa-phone"></i> +111 420-763-4777</a>
                <a href="" class="links"><i class="fa fa-envelope"></i> deva31@gmail.com</a>
                <a href="" class="links"><i class="fa fa-map-marker"></i> Hyderabad, India-506164</a>
            </div>


            <div class="box">
                <h3>Quick Links </h3>
                <a href="" class="links"><i class="fa fa-arrow-right"></i> Home</a>
                <a href="" class="links"><i class="fa fa-arrow-right"></i> Features</a>
                <a href="" class="links"><i class="fa fa-arrow-right"></i> Products</a>
                <a href="" class="links"><i class="fa fa-arrow-right"></i> Categories</a>
                <a href="" class="links"><i class="fa fa-arrow-right"></i> Review</a>
                <a href="" class="links"><i class="fa fa-arrow-right"></i> Blogs</a>
            </div>

            <div class="box">
                <h3>Newsletter </h3>
                <p>Subscribe for latest updates</p>
                <input type="email" placeholder="Your Email" class="email">
                <input type="submit" value="Subscribe" class="btn">
            </div>
        </div>

        <div class="credit">Created by <span>ASHOK THATIKANTI</span> | All Rights Reserved"</div>
        <button class="btn" onclick="myFunction()">Switch mode</button>
    </section>
    <!-- footer section -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}